body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #000000;
  font-size: 40px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.top-container {
  background-image: url("bkgrnd.jpg");
  background-size: contain;
  margin: 25px;
  position: relative;
}
.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-container {
margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.future {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.computer-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.coffee-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.BUTTON {
   background: #66BFBB;
   background-image: -webkit-gradient(top, #66BFBB, #11999E);
   background-image: -webkit-linear-gradient(top, #66BFBB, #11999E);
   background-image: -moz-linear-gradient(top, #66BFBB, #11999E);
   background-image: -ms-linear-gradient(top, #66BFBB, #11999E);
   background-image: -o-linear-gradient(top, #66BFBB, #11999E);
   background-image: linear-gradient(to bottom, #66BFBB, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   border: solid #11999E 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
@media screen and (max-width: 1250px) {
  .top-container {
    float: none;
    display: block;
    text-align: center;
    font-size: 6px;
  }
  h2 {
    float: none;
    display: block;
    text-align: center;
    font-size: 20px;
  }
}
// issues with the media screen. Maybe max-width or min width needs to be corrected
